@font-face {
  font-family: BreeSerif;
  src: url("/BreeSerif.ttf");
}

body {
  margin: 0;
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 400;
  font-family: "BreeSerif", "Montserrat", "Helvetica Neue", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: url('https://almyria.fr/Diapo2.png');
  background-size: cover;
  background-position: center center;
}

.container {
  margin-top: 20vh;
  position: absolute;
  top:0;
  width: 100%;
  max-height: 100%;
}

.center {
  z-index: 2;
  margin: 0 auto;
  max-width: 500px;
  width: 90%;
  text-align: center;
}

.logo {
  max-width: 80%;
}

.text {
  color: white;
  background: #000000ad;
  border-left: none;
  border: 1px solid white;
  padding: 20px;
  font-size: 1.1em;
  line-height: 1.8em;
  /*margin-top: 20px;*/
  border-radius: 20px;
}

a {
  color:white;
}

h1, .text h2 {
  font-size: 1.6em;
  display: block;
  font-weight: 400;
}

footer.footer {
  margin: 60px 0;
  background: #fff;
  color: #000;
  padding: 24px;
  display: block;
}

.footer .copyright {
  margin: 0 auto;
  position: relative;
  max-width: 500px;
  text-align: center;
}
