@font-face {
  font-family: BreeSerif;
  src: url("/BreeSerif.ttf");
}

:root{
  font-size : 15px;
  font-family: "BreeSerif", Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5rem;
  cursor: default;
  background: url('https://almyria.fr/Diapo2.png');
}

.container {
  margin-top: 20vh;
  position: absolute;
  top:0;
  width: 100%;
  max-height: 100%;
}

.center {
  z-index: 2;
  margin: 0 auto;
  max-width: 500px;
  width: 90%;
  text-align: center;
}

.logo {
  max-width: 80%;
}

.text {
  border-left: none;
  border: 1px solid white;
  padding: 20px;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-top: 20px;
  border-radius: 20px;
}

a {
  color:white;
}

h1, .text h2 {
  font-size: 1.6em;
  display: block;
  font-weight: 400;
}

footer.footer {
  margin: 60px 0;
  background: #fff;
  color: #000;
  padding: 24px;
  display: block;
}

.footer .copyright {
  margin: 0 auto;
  position: relative;
  max-width: 500px;
  text-align: center;
}
